@{
    Layout="Shared/_Layout.cshtml";
}

<h1>Word Repeat Counter</h1>


<div class="jumbotron">

    <p>Your sentence was: "<em>@Model[0]</em>"</p>
    <h2>"@Model[1]" appears "@Model[2]" times in your sentence.</h2>
</div>
<a href="/"><button class="btn-success btn">Try another sentence!</button></a>
